<ion-view title="Ase Lab Assignment" id="page4" style="background-color:#894485;">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 83px;"></div>
        <a ui-sref="login" id="aseLabAssignment-button5" class="button button-positive  button-block">Log In</a>
        <div class="spacer" style="width: 300px; height: 63px;"></div>
        <a ui-sref="signup" id="aseLabAssignment-button6" class="button button-positive  button-block">Register</a>
    </ion-content>
</ion-view>