<ion-view title="Home Page" id="page1" style="background-color:#894485;">
    <ion-content padding="true" class="has-header">
        <h3 id="homePage-heading1" style="color:#5FC026;text-align:center;">Welcome to Camara API</h3>
        <h3 id="homePage-heading3" style="color:#10CDCB;text-align:center;">Camera API Choose to take a picture with your device's camera and a preview will be shown</h3>
        <form id="homePage-form3" class="list">
            <div class="spacer" style="width: 300px; height: 62px;"></div>
        </form>
         <p>
                    <input type="file" id="take-picture" accept="image/*" style="color:#10CDCB;text-align:center;">
                </p>
      <label for="file-upload" class="custom-file-upload">

</label>

    </ion-content>
</ion-view>