<ion-view title="Login" id="page2" style="background-color:#894485;">
    <ion-content padding="true" class="has-header">
        <form id="login-form1" class="list">
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Enter Username">
                </label>
                <label class="item item-input" id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Enter Password">
                </label>
            </ion-list>
            <a ui-sref="homePage" id="login-button1" style="color:#885E8F;" class="button button-light  button-block">Log In</a>
        </form>
        <div style="margin-right:-20px;">
            <a ui-sref="signup" id="login-button2" style="left:-10px;" class="button button-positive  button-full">Or Create an Account</a>
        </div>
    </ion-content>
</ion-view>